{{ define "content" }}
<h1>Welcome to the Token Swap App</h1>

<a href="/swap-token-0" class="link">
  <div class="bg-white pa4 br3 shadow-2 mb4">
    <h3 class="f4">Swap Token 0</h3>
    <p>Click below to go to the page where you can swap Token 0.</p>
    <button class="bg-blue white pa2 br2 pointer">Go to Swap Token 0</button>
  </div>
</a>

<a href="/swap-token-1" class="link">
  <div class="bg-white pa4 br3 shadow-2 mb4">
    <h3 class="f4">Swap Token 1</h3>
    <p>Click below to go to the page where you can swap Token 1.</p>
    <button class="bg-blue white pa2 br2 pointer">Go to Swap Token 1</button>
  </div>
</a>

<a href="/withdraw-fees" class="link">
  <div class="bg-white pa4 br3 shadow-2 mb4">
    <h3 class="f4">Withdraw Fees</h3>
    <p>Click below to go to the page where you can withdraw fees.</p>
    <button class="bg-blue white pa2 br2 pointer">Go to Withdraw Fees</button>
  </div>
</a>

<a href="/withdraw-fees" class="link">
  <div class="bg-white pa4 br3 shadow-2 mb4">
    <h3 class="f4">Remove Liquidity</h3>
    <p>Click below to go to the page where you can remove liquidity.</p>
    <button class="bg-blue white pa2 br2 pointer">Go to Remove Liquidity</button>
  </div>
</a>

{{ end }}
